<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test microphone
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test microphone</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div 
      class="circle microphone-container"
      [class.active]="isMicrophoneActive"
      (click)="callCordova()"
    >
      <img src="assets/mic.svg" />
    </div>
  </div>
</ion-content>
